<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Products Management" verbose="1" thread-count="1">
  <parameter name="browser" value="chrome"/>
  <parameter name="login" value="webinar.test@gmail.com"/>
  <parameter name="password" value="Xcg7299bnSmMuRLp9ITw"/>
  <test name="Create New Product [Chrome]">
    <classes>
      <class name="myprojects.automation.assignment4.tests.CreateProductTest">
      </class>
    </classes>
  </test>

  <!--Prepare test for firefox and IE browsers-->

</suite>