<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Products Management" verbose="1" >
    <test name="Create New Product [Chrome]" >
        <classes>
            <class name="myprojects.automation.assignment4.tests.CreateProductTest">
                <methods>
                    <parameter name="browser" value="chrome"/>
                    <include name="createNewProduct"/>
                </methods>
            </class>
            <class name="myprojects.automation.assignment4.BaseTest">
                <parameter name="browser" value="chrome"/>
                <methods>
                    <include name="setUp"/>
                </methods>
            </class>
        </classes>
    </test>

    <!--Prepare test for firefox and IE browsers-->

</suite>